<!DOCTYPE html>
<html>
  <head>
    <title>Worldpackers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#"><%= greetings_helper %></a>
        <a class="navbar-brand"><%= login_helper %></a>
      </nav>

      <div  class="container justify-content-center">
        <%= yield %>
      </div>
  </body>
</html>
